/*	Fonts-import	*/
	@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap');

/*	Colors	*/
	$fundo-menu: #161b22;
	$background-body: #06070E;
	$border-text: #EAE0D5;

body {
	background-color: $background-body;
	#headerIndex {
		min-height: 100px;
		background-color: $fundo-menu;
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		nav {
			background-color: $fundo-menu !important;

			a {
				color: #fff !important;
				border-bottom: $fundo-menu 2px solid;

				&:hover {
					color: #d6d6d6 !important;
					border-bottom: #fff 2px solid;
				}
			}
		}
	}
	#mainIndex {
		h1{
			text-align: center;
			color: #EAE0D5 !important;
			margin-bottom: 20px;
			font-family: 'PT Serif Caption', serif;
		}
		hr{
			color: $border-text;
			height: 2px;
			width: 80%;
		}
		.header-me{
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.row-me {
			display: flex;
			justify-content: space-around;
			margin-bottom: 30px;
			.img-sobre {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-top: 20px;
				figure{
					height: 200px;
					width: 200px;
					border-top: solid 1px $border-text;
					border-bottom: solid 1px $border-text;
					border-radius: 90%;
    				padding: 5px;
					margin: 0px 20px;
					img {
						max-width: 100%;
						border-radius: 100%;
						@media (max-width: 770px) {
							height: 200px;
						}
					}
				}
			}
			.text-sobre {
				display: flex;
				align-items: center;
				margin-top: 20px;
				color: #fff;
				border: 1px solid $border-text;
				padding: 15px;
				border-radius: 5px;
				width: 50%;
				p{
					strong{
						color: #C6AC8F;
						font-size: 24px;
						font-family: 'Source Code Pro', monospace;
					}
				}
			}
			.content {
				height: 160px;
				overflow:hidden;
				display: flex;
				align-items: center;
				justify-content: center;
				&__container {
					display: flex;
					flex-direction: column;
					overflow: hidden;
					height: 120px;
					img {
						height: 120px;
						max-width: 100%;
						border-radius: 0px;
					}
					&__list {
						animation: change 10s infinite;
						display: flex;
						flex-direction: column;
						align-content: center;
						align-items: center;
						&__item {
							line-height:40px;
							margin:0;
						}
					}
				}
			}
			.porcentFacul{
				color: #fff;
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				.progress {
					color: #000;					  
				}
			}
		}
		.linguagens{
			margin-bottom: 20px;
			text-align: center;
			color: $border-text;
			font-size: 50px;
			.fa-html5{
				color: #f06729;
			}
			.fa-css3-alt{
				color: #4029f0;
			}
			.fa-sass{
				color: #f02983;
			}
			.fa-js-square{
				color: #f0e629;
			}
			.fa-php{
				color: #9329f0;
			}
			.fa-bootstrap{
				color: #5e0fa4;
			}
		}
	}
	#social-links{
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 77vh;
		a{
			text-decoration: none;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 5px;
			margin: 10px auto;
			width: 50%;
			border-radius: 10px;
			font-size: 20px;
			background-color: #000;
			color: #fff;
			border: 1px solid #fff;
			i{
				margin-right: 5px;
			}
		}
		.github-link{
			&:hover{
				background-color: #ccc;
				color: #000;
				border: 1px solid #000;
			}
		}
		.linkedin-link{
			&:hover{
				background-color: #ccc;
				color: #0e76a8;
				border: 1px solid #0e76a8;
			}
		}
		.insta-link{
			&:hover{
				background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
				color: #fff;
				border: 1px solid #000;
			}
		}
		.discord-link{
			&:hover{
				background: #1e2124;
				color: #7289DA;
				border: 1px solid #1e2124;
			}
		}
		.at-link{
			&:hover{
				background: linear-gradient(100deg, rgba(62,101,207,1) 0%, rgba(199,22,16,1) 25%, rgba(242,166,12,1) 50%, rgba(59,96,196,1) 75%, rgba(8,133,27,1) 100%);
				color: #fff;
				border: 1px solid #1e2124;
			}
		}
	}
	#footer {
		background-color: $fundo-menu;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50px;
	}
}
/*	Animacoes	*/	
	@keyframes change {
		0%, 12.66%, 100% {transform:translate3d(0,0,0);}
		16.66%, 29.32% {transform:translate3d(0,-25%,0);}
		33.32%,45.98% {transform:translate3d(0,-50%,0);}
		49.98%,62.64% {transform:translate3d(0,-75%,0);}
		66.64%,79.3% {transform:translate3d(0,-50%,0);}
		83.3%,95.96% {transform:translate3d(0,-25%,0);}
	}